<h1><center>A BICYCLE'S ODOMETER</center></h1>

###### Suppose you have ridden a bicycle from New York City to Key West, Florida. Your bicycle odometer shows the total miles, which you have dutifully logged at the end of each day with paper and pencil. Your first two entries might be 55 and 120, indicating that you rode your bike 55 miles on day 1 and 65 miles on day 2.

###### Your task is to create a pandas Series object that holds the cumulative miles at the end of each day, then use your Python skills to show the total miles that you rode each day. Consider how you should best present this information in a Jupyter notebook. You should save your Jupyter Notebook to your GitHub repository, and provide a link in your assignment submission.

In [1]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame
import datetime

### From New York to Key West point theres about 1652 miles

In [2]:
dates = pd.date_range('2014-07-01', '2014-07-27')
miles = pd.Series([55,120,176,228,301,366,423,484,545,607,669,730,792,853,915,976,1037,1099,1160,1222,1283,1345,1406,1468,1529,
1591,1652], index = dates)

### We get the following data...

In [3]:
print (miles)

2014-07-01      55
2014-07-02     120
2014-07-03     176
2014-07-04     228
2014-07-05     301
2014-07-06     366
2014-07-07     423
2014-07-08     484
2014-07-09     545
2014-07-10     607
2014-07-11     669
2014-07-12     730
2014-07-13     792
2014-07-14     853
2014-07-15     915
2014-07-16     976
2014-07-17    1037
2014-07-18    1099
2014-07-19    1160
2014-07-20    1222
2014-07-21    1283
2014-07-22    1345
2014-07-23    1406
2014-07-24    1468
2014-07-25    1529
2014-07-26    1591
2014-07-27    1652
Freq: D, dtype: int64

### Shows the total miles rode each day

In [4]:
miles_per_day = {}
yesterdays_odometer = 0
for day, odometer_miles in miles.items():    
    todays_miles = odometer_miles - yesterdays_odometer    
    miles_per_day[day] = todays_miles
    print (str(day) + ': ' + str(todays_miles) + ' Daily Miles')
    yesterdays_odometer = odometer_miles

2014-07-01 00:00:00: 55 Daily Miles
2014-07-02 00:00:00: 65 Daily Miles
2014-07-03 00:00:00: 56 Daily Miles
2014-07-04 00:00:00: 52 Daily Miles
2014-07-05 00:00:00: 73 Daily Miles
2014-07-06 00:00:00: 65 Daily Miles
2014-07-07 00:00:00: 57 Daily Miles
2014-07-08 00:00:00: 61 Daily Miles
2014-07-09 00:00:00: 61 Daily Miles
2014-07-10 00:00:00: 62 Daily Miles
2014-07-11 00:00:00: 62 Daily Miles
2014-07-12 00:00:00: 61 Daily Miles
2014-07-13 00:00:00: 62 Daily Miles
2014-07-14 00:00:00: 61 Daily Miles
2014-07-15 00:00:00: 62 Daily Miles
2014-07-16 00:00:00: 61 Daily Miles
2014-07-17 00:00:00: 61 Daily Miles
2014-07-18 00:00:00: 62 Daily Miles
2014-07-19 00:00:00: 61 Daily Miles
2014-07-20 00:00:00: 62 Daily Miles
2014-07-21 00:00:00: 61 Daily Miles
2014-07-22 00:00:00: 62 Daily Miles
2014-07-23 00:00:00: 61 Daily Miles
2014-07-24 00:00:00: 62 Daily Miles
2014-07-25 00:00:00: 61 Daily Miles
2014-07-26 00:00:00: 62 Daily Miles
2014-07-27 00:00:00: 61 Daily Miles

### Shows the last day and miles rode

In [5]:
print (str(day) + ': ' + str(todays_miles) + ' miles', )
yesterdays_odometer = odometer_miles

2014-07-27 00:00:00: 61 miles

### Then we will show cumulative miles

In [6]:
miles_cumulative=list(zip(dates,miles))
cumulative = pd.DataFrame(data = miles_cumulative, columns=['Days', 'Miles'])

In [7]:
cumulative

         Days  Miles
0  2014-07-01     55
1  2014-07-02    120
2  2014-07-03    176
3  2014-07-04    228
4  2014-07-05    301
5  2014-07-06    366
6  2014-07-07    423
7  2014-07-08    484
8  2014-07-09    545
9  2014-07-10    607
10 2014-07-11    669
11 2014-07-12    730
12 2014-07-13    792
13 2014-07-14    853
14 2014-07-15    915
15 2014-07-16    976
16 2014-07-17   1037
17 2014-07-18   1099
18 2014-07-19   1160
19 2014-07-20   1222
20 2014-07-21   1283
21 2014-07-22   1345
22 2014-07-23   1406
23 2014-07-24   1468
24 2014-07-25   1529
25 2014-07-26   1591
26 2014-07-27   1652